body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;   /* Defines the fallback font */
  color: $black !important;
  letter-spacing: 0.04rem !important;
}

/* Switch to the custom font when it's loaded */
.wf-active body
{
   font-family: 'Arimo';
}

section {
  padding: $margin-mobile;
  @media only screen and (min-width: $tablet) {
    padding: $margin-tablet;
  }
  @media only screen and (min-width: $desktop) {
    padding: $margin-fullhd $margin-fullhd * 2;
  }
}

a {
  color: $light-gray;
}