body {
  width: 100%;
  font-family: "Arimo";
  color: $black !important;
  // cursor: none;
  font-family: Arial, Helvetica, sans-serif;   /* Defines the fallback font */
}

/* Switch to the custom font when it's loaded */
.wf-active body
{
   font-family: 'Arimo';
}

section {
  padding: $padding-mobile;
   @media only screen and (min-width: $tablet) {
    padding: $padding-tablet;
  }
  @media only screen and (min-width: $desktop) {
    padding: $padding-fullhd / 2 $padding-mobile;
  }
}

a {
  color: $light-gray;
  &:hover {
    color: $red;
  }
}