h1 {
    margin: 0;
    width: fit-content;
    line-height: 0.8em !important;
    font-size: $font-mobile;
    @media only screen and (min-width: $tablet) {
      font-size: $font-tablet;
    }
    @media only screen and (min-width: $fullhd) {
      font-size:$font-fullhd;
    }
}