// About section
@mixin about-grid($column-start, $column-end, $row-start, $row-end) {
    grid-column-start: $column-start;
    grid-column-end:  $column-end;
    grid-row-start: $row-start;
    grid-row-end: $row-end;
}

// Others
@mixin line($width) {
        width: $width;
        height: 1px;
        margin: 2rem 0 1rem;
        background-color: $light-gray;
}

@mixin calendar-month-day-width($breakpoint, $count) {
 @media only screen and (min-width: $breakpoint) {
    width: calc(100% / #{$count});
  }
}