// About section
@mixin grid($column-start, $column-end, $row-start, $row-end) {
    grid-column-start: $column-start;
    grid-column-end:  $column-end;
    grid-row-start: $row-start;
    grid-row-end: $row-end;
}

// Others
@mixin line($width) {
        width: $width;
        height: 1px;
        background-color: $black;
}

@mixin calendar-month-day-width($breakpoint, $count) {
 @media only screen and (min-width: $breakpoint) {
    width: calc(100% / #{$count});
  }
}

@mixin translate($value1, $value2, $value3) {
  transform: translateY($value2);
  @media only screen and (max-width: $tablet) {
    transform: translateY($value1);
  }
  @media only screen and (min-width: $fullhd) {
    transform: translateY($value3);
  }
}

@mixin set-property-and-value($property, $value1, $value2, $value3) {
  #{$property}: $value1;
  @media only screen and (max-width: $tablet) {
    #{$property}: $value2;
  }
  @media only screen and (min-width: $fullhd) {
    #{$property}: $value3;
  }
}