// colors
$black: #000;
$light-gray: #e5e5e5;
$dark-gray: #bfbfbf;
$red: #ef0016;

// breakpoints
$tablet: 600px;

// paddings
$padding-mobile: 2.5rem;
$padding-tablet: 4rem;
$padding-fullhd: 7rem;

// margins
$margin-mobile: 2.5rem;
$margin-tablet: 4rem;
$margin-fullhd: 7rem;

// fonts
$font-mobile: 8vh;
$font-tablet: 10vh;
$font-fullhd: 12vh;
