// colors
$black: #000;
$light-gray: #e5e5e5;
$dark-gray: #bfbfbf;
$red: #ef0016;

// breakpoints
$tablet: 600px;

// paddings
$padding-mobile: 1.5rem;
$padding-tablet: 3rem;
$padding-fullhd: 7rem;

// margins
$margin-mobile: 1.5rem;
$margin-tablet: 3rem;
$margin-fullhd: 1rem;

// fonts
$font-mobile: 7.5vh;
$font-tablet: 8vh;
$font-fullhd: 11vh;
